.kpi {
    display: flex;
    flex-direction: column;
    flex: 1;

    &.big {
        .kpi-trending {
            display: flex;
        }
        .kpi-title {
            flex: 1;
            opacity: 0.64;
            font-family: DINAlternate-Bold;
            font-size: 20px;
            color: #494949;
            text-align: left;
            margin-right: 50px;
        }

        .kpi-value {
            // font-weight: bold;
            font-family: DINAlternate-Bold;
            line-height: 81px;
            font-size: 81px;
            color: #ff1c41;
            text-align: left;
        }
        .kpi-unit {
            margin-left: 10px;
            font-size: 45px;
            color: #bfccd6;
            text-align: left;
        }
        .kpi-metadata {
            justify-content: space-between;
        }
    }
}

.kpi-data {
    display: inline-flex;
    flex-direction: row;
}
.kpi-title {
    opacity: 0.63;
    text-transform: uppercase;
    font-size: 12px;
    color: #708693;
    text-align: left;
    margin-bottom: 5px;
}
.kpi-value {
    font-size: 18px;
    line-height: 18px;
    color: #708693;
    text-align: left;
}

.kpi-metadata {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
}

.kpi-trending {
    display: none;
}

.kpi-unit {
    margin-left: 5px;
    font-size: 12px;
    color: #bfccd6;
    text-align: left;
}
