.podcast-header-player {
    margin-top: 10px;
}

.episode-header {
    font-family: var(--font-family-exp);
    font-weight: bold;
    width: 100%;
    font-size: 30px;
    color: #2d2d2d;
    text-align: left;
}
