:root {
    --button-background: #f7f7f7;
    --button-hover-color: #ededed;

    &[data-theme="dark"] {
        --button-background: #1a1a1a;
        --button-hover-color: #302d2d;
    }
}

.button {
    border-radius: 17px;
    transition: var(--transition-secs);
    font-family: var(--font-family-exp);
    font-size: 16px;
    color: var(--fg-main);
    background-color: var(--button-background);
    padding: 8px 20px;
    text-align: center;
    white-space: nowrap;
    display: block;
    &:hover {
        transition: var(--transition-secs);
        background: var(--button-hover-color);
        color: var(--fg-main);
        cursor: pointer;
    }
    &.primary {
        color: white;
        background-color: var(--color-primary);
        &:hover {
            background-color: darken($color: #e90000, $amount: 5%);
        }
    }
    &.big {
        font-size: 26px;
        border-radius: 22px;
    }
    &.small {
        font-size: 12px;
        border-radius: 13px;
        padding: 6px 13px;
    }
    &.slim {
        display: inline-block;
    }
    &.disabled {
        color: #7e7e7e !important;
        border-spacing: 0;
        border-width: 0;
        cursor: default;
        background: transparent;
        &:hover {
            background: transparent;
            cursor: default;
        }
    }
}

a,
.button {
    text-decoration: none !important;
}

input,
.button {
    outline: 0;
    border-spacing: 0;
    border-width: 0;
    text-decoration: none !important;
}
