.button {
    border-radius: 17px;
    transition: var(--transition-secs);
    font-family: var(--font-family-exp);
    font-size: 16px;
    color: #2d2d2d;
    padding: 8px 20px;
    text-align: center;
    white-space: nowrap;
    &:hover {
        transition: var(--transition-secs);
        background: #f2f2f2;
        cursor: pointer;
    }
    &.primary {
        color: white;
        background-color: var(--color-primary);
        &:hover {
            background-color: darken($color: #e90000, $amount: 5%);
        }
    }
    &.big {
        font-size: 26px;
        border-radius: 22px;
    }
}

a,
.button {
    text-decoration: none !important;
    text-decoration-color: none !important;
}

input,
.button {
    outline: 0;
    border-spacing: 0;
    border-width: 0;
    text-decoration: none !important;
    text-decoration-color: none !important;
}
