/* ----- Developer Search Page ----- */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% {  transform: rotate(359deg); }
}
div.pageContentWrapper.DeveloperSearch div#divSearch svg.loading {
    animation: spin 2s linear infinite;
    text-align: center;
    display: block;
    margin-left:auto;
    margin-right:auto;
}
div.pageContentWrapper.DeveloperSearch div#divSearch ul li.podcast {
    padding:10px;

}
div.pageContentWrapper.DeveloperSearch div#divSearch ul li.podcast + li.podcast {
    border-top: solid #ccc 1px;
}
div.pageContentWrapper.DeveloperSearch div#divSearch ul li.podcast img.albumart {
    margin-right:20px;
    width:128px;
}
div.pageContentWrapper.DeveloperSearch div#divSearch ul li.podcast div.infocard {
    max-width:900px;
}
div.pageContentWrapper.DeveloperSearch div#divSearch ul li.podcast a.subscribeBadge {
    margin-bottom:8px;
    display: inline-block;
}
div.pageContentWrapper.DeveloperSearch div#divSearch ul li.podcast div.infocard p.description {
    overflow-wrap: break-word;
    word-break: break-all;
}
div.pageContentWrapper.DeveloperSearch div#divSearch ul li.podcast audio {
    outline:none;
}
div.pageContentWrapper.DeveloperSearch div#divSearch ul li.podcast video {
    outline:none;
    max-width:100%;
}
div.pageContentWrapper.DeveloperSearch div#divSearch ul li.podcast div.enclosurePlayer {

    margin-left:auto;
    margin-right:auto;
}
div.pageContentWrapper.DeveloperSearch div#divSearch input.feedSearch {
    width:80%;
    margin-auto:left;
    margin-auto:right;
}
div.pageContentWrapper.DeveloperSearch div#divSearch div.searchForm {
    text-align: center;
}
div.pageContentWrapper.DeveloperSearch div#divMain span.feedDisplayTitle {
    font-size:medium;
    color:blueviolet;
}


/* ----- Developer Documentation Page ----- */
div.pageContentWrapper.DeveloperDocs div.row.developerDocs {
    margin-top:60px;
}

div.pageContentWrapper.DeveloperDocs div.row.developerDocs p {
    padding-left:10px;
}

div.pageContentWrapper.DeveloperDocs div.row.developerDocs div.codeExampleBlock {
    background-color:#e9e9e9;
    border-radius:12px;
    padding:20px;
}

div.pageContentWrapper.DeveloperDocs div.row.developerDocs div.codeExampleBlock div.code {
    margin-left:10px;
}

div.pageContentWrapper.DeveloperDocs div.row.developerDocs h4 {
    margin-bottom:20px;
}

div.pageContentWrapper.DeveloperDocs div.row.developerDocs div.codeExampleBlock {
    margin-bottom:30px;
}
div.pageContentWrapper.DeveloperDocs div.row.developerDocs li.api-endpoint {
    border-left: solid #ddd 4px;
    margin-top:10px;
    border-bottom: solid white 0;
}

div.pageContentWrapper.DeveloperDocs div.row.developerDocs li.api-endpoint-write {
    border-left: solid orange 4px;
}