.theme-button {
    width: 20px;
    height: 20px;

    position: fixed;
    right: 15px;
    bottom: 15px;

    text-align: center;
    z-index: 99999;

    &:hover {
        cursor: grab;
    }

    img {
        width: 100%;
        height: 100%;
        background: inherit;
    }
}
