# Copy this file and rename .env, then place your api credentials in here
API_KEY=ABC
API_SECRET=ABC
# separate key for add action
API_ADD_KEY=ABC
API_ADD_SECRET=ABC
# This is the port that the UI server starts on
PORT=5001
# this can be 'development' or 'production'
NODE_ENV=development
