node_modules

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.DS_Store
.vscode
.idea

*.log
www

package-lock.json

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
# We are not using Zero-installs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions