:root {
    --player-bg-color: #ffffff;
    --player-border-color: #d6d6d6;
    --player-cover-art-border-color: lighten(#d6d6d6, 0.2);
}

@media (prefers-color-scheme: dark) {
    :root {
        --player-bg-color: var(--bg-main);
        --player-border-color: #302d2d;
        --player-cover-art-border-color: darken(#302d2d, 0.2);
    }
}

.player-card {
    background: var(--player-bg-color);
    width: 500px;
    height: auto;
    min-height: 660px;
    border: 1px solid var(--player-border-color);
    box-shadow: 0 0 12px 0 rgba(192, 192, 192, 0.5);
    border-radius: 12px;
    transition: var(--transition-secs);
    .loader-wrapper {
        height: 660px;
    }
    .rhap_container {
        background-color: var(--player-bg-color);
    }
}
.player {
    flex: 1;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
    width: inherit;
}

.player-title {
    font-family: var(--font-family);
    font-size: 22px;
    color: #e64545;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.player-nav-arrows {
    position: absolute;
    z-index: 0;
    width: inherit;
    height: 510px;
    button {
        outline: 0;
        border: 0;
        background: none;
        border-radius: 12px;
        padding: 5px;
        &:hover {
            background: rgba(#d6d6d6, 0.4);
        }
    }
    .player-nav-arrows-left {
        top: 50%;
        position: absolute;
        left: 5px;
        cursor: pointer;
        img {
            margin-top: 3px;
        }
    }

    .player-nav-arrows-right {
        top: 50%;
        position: absolute;
        right: 5px;
        cursor: pointer;
        img {
            margin-top: 3px;
        }
    }
}

.player-carousel {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 5px;
    button {
        outline: 0;
        border: 0;
    }
    .player-carousel-item {
        margin: 0 5px;
        height: 5px;
        width: 15px;
        background: #d6d6d6;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
            background: darken(#d6d6d6, 20);
        }
        &:active {
            background: darken(#d6d6d6, 40);
        }
        &.selected {
            background: darken(#d6d6d6, 40);
        }
    }
}

.player-cover-art {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // padding: 25px 25px 0 25px;
    img {
        width: 450px;
        height: 450px;
        object-fit: contain;
        border-radius: 14px;
        border: 1px solid var(--player-cover-art-border-color);
    }
    z-index: 99999;
}

@media only screen and (max-width: 520px) {
    /* portrait phones */
    .player-card {
        margin: 0 auto;
        width: 340px;
        min-height: 480px;
        height: 525px;
    }
    .player-info {
        .player-show-title {
            p {
                width: 300px;
            }
        }
    }
    .player-cover-art {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(100% - 20px);
        height: auto;
        // padding: 25px 25px 0 25px;
        a {
            width: inherit;
            height: inherit;
        }
        img {
            width: 275px;
            height: 275px;
            border-radius: 10px;
            border: 1px solid lighten(#d6d6d6, 0.2);
        }
    }
}
