.episode {
    background: #ffffff;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    margin: 10px 0px;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
}

.episode-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.episode-cover-art {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 15px 15px 15px;
    img {
        height: 140px;
        width: 140px;
        border-radius: 10px;
        border: 1px solid lighten(#d6d6d6, 0.2);
    }
}

.episode-info {
    display: inline-flex;
    flex-direction: column;
    margin-left: 10px;
    p {
        margin: 10px 0;
    }
}

.episode-title {
    font-family: var(--font-family-exp);
    font-weight: bold;
    width: 100%;
    font-size: 26px;
    color: #2d2d2d;
    text-align: left;
}

.episode-date {
    color: #868686;
}

.episode-links {
    display: inline-flex;
    flex-direction: row;
}

.episode-link img, .episode-play-pause-mobile {
    width: 30px;
    height: 30px;
}
.episode-enclosure {
    margin-left: 10px;
}
.episode-play-pause-mobile {
    display: none;
    margin-left: 20px;
}

.episode-play-pause{
    margin-left: auto;
    margin-right: 10px;
    min-width: 50px;
    min-height: 50px;
    cursor: pointer;
}

.episode-description {
    font-family: var(--font-family);
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    margin: 0 !important;
    padding: 10px;
}

@media only screen and (max-width: 767px) {
    /* phones */
    .episode-row {
        // height: 170px;
    }
    .episode {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 10px;
    }
    .episode-cover-art {
        img {
            height: 90px;
            width: 90px;
        }
    }

    .episode-title {
        width: 100%;
        font-size: 22px;
    }
    .episode-play-pause-mobile {
        display: inherit;
    }
    .episode-play-pause{
        display: none;
    }
    .episode-description {
        font-size: 15px;
    }
    .episode-info {
        p {
            font-size: 15px;
        }
    }
}
