@import '../fonts/style.css';
@import './variables';
@import './components/TallyCoinWidget/styles';

@import '../../node_modules/bootstrap/scss/bootstrap';

// :root {
//     --transition-secs: 0.2s;
//     --bg-main: #ffffff;
//     --color-primary: #e90000;
//     --font-family: 'D-DIN Regular', sans-serif;
//     --font-family-bold: 'D-DIN Bold', sans-serif;
//     --font-family-exp: 'D-DIN Exp Regular', sans-serif;
//     --font-family-exp-bold: 'D-DIN Exp Bold', sans-serif;
//     // --font-alt: 'DINAlternate-Bold', sans-serif;
// }

@media only screen and (max-width: 767px) {
    /* phones */
    .hide-mobile {
        display: none;
    }
}

#root,
body {
    @extend .d-flex, .flex-column, .h-100;
}

body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url('../images/landing-bg.svg');
    background-repeat: no-repeat;
    background-position: 0 120px;
    z-index: -1000;
}

html {
    @extend .h-100;
}
