:root {
    --inactive-button-color: #c7c7c7;
    --inactive-button-hover-color: #b3b2b2;

    &[data-theme="dark"] {
        --inactive-button-color: #808080;
        --inactive-button-hover-color: #505050;
    }
}

.podcastIndexAppsFilterTags {
    font-weight: 700;
    margin: 0 0 12px 0;
}

.podcastIndexAppsFilterTags > button {
    cursor: pointer;
    margin: 8px 4px;
    padding: 4px 8px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: var(--color-primary);
    &:hover {
        background-color: darken($color: #e90000, $amount: 5%);
    }
    &.inactive {
        color: var(--fg-main);
        background: initial;

        background: var(--inactive-button-color);
        &:hover {
            background: var(--inactive-button-hover-color);
        }
    }
    &.clear-button {
        width: 47.88px;
        background-color: #aa0000;
        color: white;
    }
    &.clear-button:hover {
        background-color: darken($color: #aa0000, $amount: 5%);
    }
}

.podcastIndexAppsFilterTagContainer > h4 {
    cursor: pointer;
    user-select: none;
    margin: 0 0 8px 0;
    & > .podcastIndexAppsFilterArrow {
        font-size: 0.75em;
    }
}

.podcastIndexAppsFilterCategories {
    height: 0;
    overflow: hidden;
    transition: height 0.2s linear;
}
