.podcastIndexAppsFilterTags {
    font-weight: 700;
    margin: 0 0 12px 0;
}

.podcastIndexAppsFilterTags > button {
    cursor: pointer;
    margin: 8px 4px;
    padding: 4px 8px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: var(--color-primary);
    &:hover {
        background-color: darken($color: #e90000, $amount: 5%);
    }
    &.inactive {
        color: #2d2d2d;
        background: initial;

        background: #c7c7c7;
        &:hover {
            background: #b3b2b2;
        }
    }
    &[data-tag='All'],
    &[data-tag='Clear'] {
        width: 47.88px;
        background-color: #aa0000;
    }
    &[data-tag='All']:hover,
    &[data-tag='Clear']:hover {
        background-color: darken($color: #aa0000, $amount: 5%);
    }
}

.podcastIndexAppsFilterTagContainer > h4 {
    cursor: pointer;
    user-select: none;
    margin: 0 0 8px 0;
    & > .podcastIndexAppsFilterArrow {
        font-size: 0.75em;
    }
}

.podcastIndexAppsFilterCategories {
    height: 0;
    overflow: hidden;
    transition: height 0.2s linear;
}
