$gray-900: #0d0d16;
$gray-800: #333333; //time to donate
$gray-700: #4b4b58;

.podcastIndexAppsWebPart {
    /*background-color: #e0e0e0;*/
    border-radius: 8px;
}

.podcastIndexApp {
    background-color: transparent;

    a:link,
    a:visited,
    a:active {
        display: inline-block;
        color: #002752;
    }

    a:hover {
        color: #cc2799;
    }
}

.podcastIndexAppsCheckboxArea {
    background-color: #dcdcdc;
    border-radius: 5px;
    padding: 4px;
    margin-bottom: 8px;
}

.podcastIndexAppsWebPart > h4 {
    font-size: 20px;

    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.podcastIndexAppsCheckboxArea label {
    display: inline-block;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 3px;
}

.podcastIndexAppsCheckboxArea label input[type='checkbox'] {
    margin-left: -8px;
}

.podcastIndexAppsTable {
    margin-top: 24px;
}

.podcastIndexAppsTableHeaders th {
    text-align: start;
}

.podcastIndexAppImage {
    width: 60px;
    height: 60px;

    margin: 8px 0;

    border-radius: 5px;
    box-sizing: border-box;
}

.podcastIndexAppIcon {
    width: 10%;
}

.podcastIndexAppTitleAndTypeCell {
    width: 30%;
}

.podcastIndexAppTitleAndType {
    margin-left: 8px;

    .podcastIndexAppTitle {
        font-size: 24px;
    }
    .podcastIndexAppType {
        color: $gray-700;

        margin: 0;
    }
}

.podcastIndexAppSupportedElements {
    width: 30%;
}

.podcastIndexAppPlatforms {
    width: 20%;

    margin-left: 24px;
}

@media only screen and (max-width: 767px) {
    .podcastIndexAppImage {
        width: 60px;
        height: 60px;
        margin-bottom: 13px;
        margin-top: 20px;
        border: none;
    }

    .podcastIndexAppTitle {
        width: 70%;
        margin-left: 80px;
    }

    .podcastIndexAppSupportedElements {
        display: none;
    }
}
