.podcastIndexAppsWebPart {
    background-color: lightgray;
}

.podcastIndexApp {
    background-color: lightgreen;
}

.podcastIndexElement {
    background-color: lightsalmon;
    padding-left:33px;
}