.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    padding: 23px 0;
    z-index: 3;
    max-width: 1300px;
    margin: 10px auto;
}

.topbar-brand {
    width: 290px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.topbar-title {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    color: var(--color-primary);
}

.topbar-span {
    margin-top: 5px;
    flex: 3;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.topbar-links {
    margin-top: 5px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    #topbar-nav-links {
        display: inline-flex;
        flex-direction: row;
    }

    a:link,
    a:visited,
    a:active{
        color: var(--fg-main);
        text-decoration: none !important;
    }
}

.topbar-mobile-dropdown {
    display: none;
    width: 35px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    &.open {
        background: lighten(#d6d6d6, 0.2);
    }
}

@media only screen and (max-width: 1200px) {
    .topbar {
        width: 100%;
    }
    #topbar-nav-links {
        .button {
            padding: 8px 13px;
        }
    }
}

@media only screen and (max-width: 980px) {
    //.topbar {
        //padding: 23px 15px;
    //}
    .topbar-brand {
        width: 40px;
    }
    .topbar-title {
        display: none;
    }
}

@media only screen and (max-width: 860px) {
    .topbar-links {
        flex: 0;
    }
    #topbar-nav-links {
        .button-wrapper {
            display: none;
        }
    }
    #topbar-nav-links {
        &.topbar-dropdown-open {
            z-index: 4;
            position: absolute;
            right: 0px;
            top: 60px;
            width: calc(100% - 20px);
            border: 1px solid lighten(#d6d6d6, 0.2);
            margin: 10px 10px;
            display: flex;
            background: var(--bg-color);
            flex-direction: column;
            border-radius: 4px;
            box-shadow: 0 0 9px 0 rgba(192, 192, 192, 0.5);
            .button-wrapper {
                width: 100%;
                .button {
                    width: inherit;
                    border-radius: 0 !important;
                }
                display: flex !important;
            }
        }
    }
    /* phones */
    .topbar-brand {
        width: 40px;
    }
    // .topbar-title {
    //     display: none;
    // }
    .landing-content {
        min-width: 600px;
        //width: 600px;
    }
    .topbar-mobile-dropdown {
        display: flex;
    }
}
