.comment {
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    margin: 10px 0px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}

.comment-author-picture {
    height: 80px;
    width: 80px;
}