:root {
    --category-bg-color: #f3f3f3;
    --category-border-color: #cecece;
    --cover-art-border-color: lighten(#d6d6d6, 0.2);

    &[data-theme="dark"] {
        --category-bg-color: #302d2d;
        --category-border-color: #505050;
        --cover-art-border-color: var(--border-color);
    }
}

.podcast-header-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: row;
}

.podcast-header-cover-art {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    img {
        height: 300px;
        width: 300px;
        object-fit: contain;
        border-radius: 10px;
        border: 1px solid var(--cover-art-border-color);
    }
}

.podcast-header-info {
    margin-left: 20px;
    p {
        margin: 10px 0;
    }
    margin-right: 15px;
    address {
        font-size: 20px;
    }
    width: 100%;
}

.podcast-header-title {
    font-family: var(--font-family-exp);
    font-weight: bold;
    width: 100%;
    font-size: 45px;
    color: var(--fg-main);
    text-align: left;
    margin-top: 0;
}

.podcast-header-categories {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    &::-webkit-scrollbar {
        visibility: hidden;
    }
}
.podcast-header-category {
    background: var(--category-bg-color);
    border: 1px solid var(--category-border-color);
    border-radius: 5px;
    margin: 3px;

    padding: 4px 12px;
}
.no-category {
    opacity: 0.6;
}

.podcast-header-external-links {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    &::-webkit-scrollbar {
        visibility: hidden;
    }

    img {
        margin-right: 5px;
        width: 35px;
        height: 35px;
    }
}

.podcast-header-external-links a#aLightningClaim img {
  padding-top:2px;
  width: 30px;
  height: 30px;
}

.podcast-header-description {
    font-family: var(--font-family);
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    margin: 0 !important;
    //padding: 10px;
}

.podcast-header .podcast-value {
  padding: 10px 0;
}

@media only screen and (max-width: 767px) {
    /* phones */
    .podcast-header {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 10px;
    }
    .podcast-header-cover-art {
        img {
            height: 150px;
            width: 150px;
        }
    }

    .podcast-header-title {
        font-size: 35px;
    }
    .podcast-header-description {
        font-size: 15px;
    }
    .podcast-header-info {
        p {
            font-size: 15px;
        }
    }
    .podcast-header-category {
        font-size: 14px;
    }
}
