.podcast-header {
    //background: #ffffff;
    //border: 1px solid #d6d6d6;
    //border-radius: 6px;
    //margin: 10px 20px;
    //height: auto;
    //padding: 5px;
}

.podcast-header-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: row;
}

.podcast-header-cover-art {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    img {
        height: 300px;
        width: 300px;
        border-radius: 10px;
        border: 1px solid lighten(#d6d6d6, 0.2);
    }
}

.podcast-header-info {
    margin-left: 20px;
    p {
        margin: 10px 0;
    }
    margin-right: 15px;
    address {
        font-size: 20px;
    }
    width: 100%;
}

.podcast-header-title {
    font-family: var(--font-family-exp);
    font-weight: bold;
    width: 100%;
    font-size: 45px;
    color: #2d2d2d;
    text-align: left;
    margin-top: 0;
}

.podcast-header-categories {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    &::-webkit-scrollbar {
        visibility: hidden;
    }
}
.podcast-header-category {
    background: #f3f3f3;
    border: 1px solid #cecece;
    border-radius: 5px;
    margin: 3px;

    padding: 4px 12px;
}
.no-category {
    opacity: 0.6;
}

.podcast-header-external-links {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    &::-webkit-scrollbar {
        visibility: hidden;
    }

    img {
        margin-right: 5px;
        width: 35px;
        height: 35px;
    }
}

.podcast-header-external-links a#aLightningClaim img {
  padding-top:2px;
  width: 30px;
  height: 30px;
}

.podcast-header-description {
    font-family: var(--font-family);
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    margin: 0 !important;
    //padding: 10px;
}

.podcast-value {
  font-size: 18px;

  h4 {
    font-size: 18px;
    margin-bottom: .5rem;
  }

  ul {
    margin: 0 0 1.5rem;
    padding-left: 0;

    li {
      display: flex;
      align-items: center;
      margin: .25rem 0;
    }
  }

  progress[value] {
    appearance: none;
    border: 0;
    border-radius: .25rem;
    width: 100px;
    height: 1rem;
    margin-right: .5rem;
  }

  progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: .25rem;
  }

  // though both use the same styles, it does not work as a combined selector!
  progress[value]::-webkit-progress-value {
    background-color: var(--color-primary);
    border-radius: .25rem;
  }
  progress[value]::-moz-progress-bar {
    background-color: var(--color-primary);
    border-radius: .25rem;
  }
}

@media only screen and (max-width: 767px) {
    /* phones */
    .podcast-header-row {
        // height: 170px;
    }
    .podcast-header {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 10px;
    }
    .podcast-header-cover-art {
        img {
            height: 150px;
            width: 150px;
        }
    }

    .podcast-header-title {
        width: 100%;
        font-size: 35px;
    }
    .podcast-header-description {
        font-size: 15px;
    }
    .podcast-header-info {
        p {
            font-size: 15px;
        }
    }
    .podcast-header-categories {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        &::-webkit-scrollbar {
            visibility: hidden;
        }
    }
    .podcast-header-category {
        font-size: 14px;
        background: #f3f3f3;
        border: 1px solid #cecece;
        border-radius: 5px;
        margin: 3px;
        padding: 4px 12px;
    }
    .podcast-value {
        font-size: 14px;
    }
}
