:root {
    --bg-color: #ffffff;
    --border-color: #d6d6d6;
    --category-bg-color: #f3f3f3;
    --category-border-color: #cecece;
    --cover-art-border-color: lighten(#d6d6d6, 0.2);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #180e0e;
        --border-color: #505050;
        --category-bg-color: #302d2d;
        --category-border-color: #505050;
        --cover-art-border-color: var(--border-color);
    }
}

.result {
    background: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    margin: 10px 20px;
    height: auto;
    padding: 5px;
}

.result-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: row;
    // height: 170px;
    align-items: center;
}

.result-cover-art {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 15px 15px 15px;
    img {
        height: 140px;
        width: 140px;
        border-radius: 10px;
        border: 1px solid var(--cover-art-border-color);
    }
}

.result-info {
    margin-left: 10px;
    p {
        margin: 10px 0;
    }
    margin-right: 15px;
}

.result-title, .result-title a {
    font-family: var(--font-family-exp);
    font-weight: bold;
    width: 100%;
    font-size: 26px;
    color: var(--fg-main);
    text-align: left;
}

.result-categories {
    display: inline-flex;
    flex-direction: row;
    margin: -3px -3px; /* grid trick, has to match box margin */
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    &::-webkit-scrollbar {
        visibility: hidden;
    }
}
.result-category {
    background: var(--category-bg-color);
    border: 1px solid var(--category-border-color);
    border-radius: 5px;
    margin: 3px;

    padding: 4px 12px;
}
.no-category {
    opacity: 0.6;
}
.result-description {
    font-family: var(--font-family);
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    margin: 0 !important;
    padding: 10px;
}

@media only screen and (max-width: 767px) {
    /* phones */
    .result-row {
        // height: 170px;
    }
    .result {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 10px;
    }
    .result-cover-art {
        img {
            height: 90px;
            width: 90px;
        }
    }

    .result-title {
        width: 100%;
        font-size: 22px;
    }
    .result-description {
        font-size: 15px;
    }
    .result-info {
        p {
            font-size: 15px;
        }
    }
    .result-categories {
        display: inline-flex;
        flex-direction: row;
        margin: -3px -3px; /* grid trick, has to match box margin */
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        &::-webkit-scrollbar {
            visibility: hidden;
        }
    }
    .result-category {
        font-size: 14px;
        background: #f3f3f3;
        border: 1px solid #cecece;
        border-radius: 5px;
        margin: 3px;

        padding: 4px 12px;
    }
}
