:root {
    --selected-page-color: #f2f2f2;

    &[data-theme="dark"] {
        --selected-page-color: #505050;
    }
}

.v4v {
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    z-index: 1;
    width: 1024px;

    h2 {
        font-size: 24px;
    }

    .pages {
        .page-buttons {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 15px;
            column-gap: 5px;
            justify-content: center;

            .page {
                min-width: 20px;

                border-radius: 9px;
                padding: 6px 9px;
                color: var(--fg-main);

                &.selected {
                    background: var(--selected-page-color);
                }
            }

            &.hidden {
                display: None;
            }
        }

        .page-menu-row {
            text-align: center;
            display: none;

            .pages-menu {
                width: 100px;

                border-radius: 4px;
                transition: var(--transition-secs);
                font-family: var(--font-family-exp);
                font-size: 16px;
                padding: 2px 5px;
                text-align: center;
                white-space: nowrap;
            }
        }
    }
}

@media only screen and (max-width: 720px) {
    /* phones */
    .v4v {
        .pages {
            .page-buttons {
                row-gap: 20px;
                .page {
                    font-size: 18px;
                }
            }
        }
    }
}

@media only screen and (max-width: 620px) {
    /* phones */
    .v4v {
        .pages {
            .page-buttons {
                display: none;
            }

            .page-menu-row {
                display: block;
            }
        }
    }
}
