.add-feed {
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    z-index: 1;
    max-width: 1024px;

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    .add-result a {
        text-decoration: underline !important;
        color: red;
    }

    .add-feed-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .feed {
            width: 100%;
            flex: 1;
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            background: #f7f7f7;
            border: 1px solid #d6d6d6;
            border-radius: 17px;
            height: 34px;
            margin: 10px 15px;
            padding: 0 15px;

            input {
                width: 100%;
                //height: 32px;
                font-family: var(--font-family-expily-exp);
                font-size: 16px;
                line-height: 16px;
                border-top-style: hidden !important;
                border-right-style: hidden !important;
                border-left-style: hidden !important;
                border-bottom-style: hidden !important;
                background-color: transparent !important;
            }

            ::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                font-family: var(--font-family-expily-exp);
                font-size: 14px;
                color: #b6b6b6;
            }

            ::-moz-placeholder {
                /* Firefox 19+ */
                font-family: var(--font-family-expily-exp);
                font-size: 14px;
                color: #b6b6b6;
            }

            :-ms-input-placeholder {
                /* IE 10+ */
                font-family: var(--font-family-expily-exp);
                font-size: 14px;
                color: #b6b6b6;
            }

            :-moz-placeholder {
                /* Firefox 18- */
                font-family: var(--font-family-expily-exp);
                font-size: 14px;
                color: #b6b6b6;
            }

            input:focus {
                outline: none !important;
            }
        }

    }

}

.loader-wrapper {
    //margin: 0 auto;
    //position: relative;
    //height: 100%;
    //z-index: 1;
    //display: flex;
    //flex-direction: row;
    //justify-content: center;
    //align-items: center;
}
