.tallypay {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .tc_bbox {
        height: auto !important;
    }

    & > div {
        margin: 0 auto;
    }
    .tc_pr_title_box,
    .tc_name_box {
        display: none;
    }

    .tc_donate_btn {
        @extend .btn, .btn-primary, .btn-lg;
    }
    .tc_donate_btn img {
        top: inherit;
    }

    .loginlink {
        // use this to hide a login link that is added because it thinks it is on tallycoin when loading from localhost
        // https://github.com/djbooth007/tallypay/blob/master/tallypay.js#L190
        display: none;
    }
}
