.tallypay {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    & > div {
        margin: 0 auto;
    }

    .loginlink {
        // use this to hide a login link that is added because it thinks it is on tallycoin when loading from localhost
        // https://github.com/djbooth007/tallypay/blob/master/tallypay.js#L190
        display: none;
    }
}
