.contribute-notes {
    a:link,
    a:visited,
    a:active {
        color: #002752;
    }

    a:hover {
        color: #cc2799;
    }
}

.csb {
    background-color: darkolivegreen;
    color: yellow;
    font-size: 12px;
}
