.page {
    background: #ffffff;
}

.landing-graphic {
    opacity: 0.75;
    top: 120px;
    left: -300px;
    position: absolute;
    z-index: 0;
}

.landing-content {
    position: relative;
    z-index: 1;
    width: 1024px;
    padding: 0 0 20px 0;
    margin: 0 auto;
}

.hero-pitch {
    display: flex;
    flex-direction: row;
    font-family: var(--font-alt);
    height: 690px;
    width: 1024px;
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.hero-pitch-left {
    display: inline-flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.hero-pitch-text {
    // font-family: var(--font-alt);
    font-size: 55px;
    color: #2d2d2d;
}

.hero-pitch-subtitle {
    margin-top: 25px;
    font-size: 22px;
    max-width: 400px;
    color: #868686;
}

.hero-pitch-right {
    display: inline-flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.info-section {
    margin-top: 50px;
    p {
        font-family: D-DINExp;
        font-size: 18px;
        line-height: 20px;
        color: #868686;
    }
}

#donate {
    margin-bottom: 20px;
}
