:root {
    --input-bg-color: #f7f7f7;
    --input-border-color: #d6d6d6;
    --input-placeholder-color: #b6b6b6;

    &[data-theme="dark"] {
        --input-bg-color: #000000;
        --input-border-color: #303030;
        --input-placeholder-color: #969696;
    }
}

.topbar-search {
    flex: 1;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    background: var(--input-bg-color);
    border: 1px solid var(--input-border-color);
    border-radius: 17px;
    height: 34px;
    margin: 0 15px;
    padding: 0 15px;
    input {
        flex: 1;
        margin-left: 10px;
        height: 32px;
        font-family: var(--font-family-expily-exp);
        font-size: 16px;
        line-height: 16px;
        border-top-style: hidden !important;
        border-right-style: hidden !important;
        border-left-style: hidden !important;
        border-bottom-style: hidden !important;
        background-color: transparent !important;
        color: var(--text-color);
    }
    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-family: var(--font-family-expily-exp);
        font-size: 14px;
        color: var(--input-placeholder-color);
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        font-family: var(--font-family-expily-exp);
        font-size: 14px;
        color: var(--input-placeholder-color);
    }
    :-ms-input-placeholder {
        /* IE 10+ */
        font-family: var(--font-family-expily-exp);
        font-size: 14px;
        color: var(--input-placeholder-color);
    }
    :-moz-placeholder {
        /* Firefox 18- */
        font-family: var(--font-family-expily-exp);
        font-size: 14px;
        color: var(--input-placeholder-color);
    }

    input:focus {
        outline: none !important;
    }
}
