.podcastIndexAppsWebPart > h4 {
    font-size: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.podcastIndexAppsHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 192px;
    grid-template-rows: 1fr;
    gap: 0px 32px;
    grid-template-rows: auto;
    margin-top: 36px;
}
.podcastIndexAppsHeader > div > h4,
.podcastIndexAppsHeader > h4 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.podcastIndexAppsHeader > div > h4 {
    margin-left: 92px;
}

.podcastIndexAppList {
    padding: 0;
}

$podcastIndexAppsMobileLeftMargin: 84px;
$podcastIndexAppsMobileTopPadding: 30px;

@media only screen and (max-width: 767px) {
    .podcastIndexAppsCheckboxArea label {
        display: inline-block;
        margin-bottom: 8px;

        input[type='checkbox'] {
            -ms-transform: scale(1.5); /* IE */
            -moz-transform: scale(1.5); /* FF */
            -webkit-transform: scale(1.5); /* Safari and Chrome */
            -o-transform: scale(1.5); /* Opera */
            transform: scale(1.5);
        }

        span {
            display: inline-block;
            padding-left: 5px;
            vertical-align: text-bottom;
        }
    }

    .podcastIndexApps {
        display: block;
        margin-top: 0;

        .podcastIndexAppsCheckboxArea {
            margin-bottom: 0;
        }
        .podcastIndexAppsHeader {
            display: none;
        }
        .podcastIndexAppTitleAndType {
            margin-left: $podcastIndexAppsMobileLeftMargin;
            padding-top: $podcastIndexAppsMobileTopPadding;
        }
        .podcastIndexAppSupportedElements {
            margin-left: $podcastIndexAppsMobileLeftMargin;
            margin-top: 2px;
        }
        .podcastIndexAppPlatforms {
            margin-left: $podcastIndexAppsMobileLeftMargin;
        }
        .podcastIndexAppIcon {
            float: left;
            padding-top: $podcastIndexAppsMobileTopPadding;
        }
    }
}
