.podcastIndexAppsWebPart > h4 {
    font-size: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.podcastIndexAppsHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 192px;
    grid-template-rows: 1fr;
    gap: 0px 32px;
    grid-template-rows: auto;
    margin-top: 36px;
}
.podcastIndexAppsHeader > div > h4,
.podcastIndexAppsHeader > h4 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.podcastIndexAppsHeader > div > h4 {
    margin-left: 92px;
}

.podcastIndexAppList {
    padding: 0;
}

$podcastIndexAppsMobileLeftMargin: 84px;
$podcastIndexAppsMobileTopPadding: 30px;

@media only screen and (max-width: 767px) {
    .podcastIndexAppsHeader {
        display: none;
    }
    .podcastIndexAppsSingleApp {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-rows: auto;
        margin-top: 36px;
    }

    .podcastIndexAppPlatforms {
        display: none;
    }

    .podcastIndexAppTitleAndType {
        align-self: flex-start;
        margin-left: 24px;
    }

    .podcastIndexAppSupportedElements {
        margin-left: 84px;
        position: relative;
    }
}
