.player-info {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.player-bottom {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    margin-top: 5px;
    padding: 0 10px;
    // width: calc100%;
}

.player-media-controls {
    width: calc(100% - 20px);
    .player-show-title p {
        font-size: 20px;
        font-family: var(--font-family);
        font-weight: bold;
        text-align: center;
        width: 450px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 5px;
        color: #2d2d2d;
    }
    .player-podcast-name {
        text-align: center;
        width: 450px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 5px;

        > a {
            font-size: 16px;
            font-family: var(--font-family);
            color: #2d2d2d;
        }
    }
    .player-feed-button {
        cursor: pointer;
    }
    p {
        margin: 5px 0 0;
        font-family: var(--font-family-exp);
        font-size: 14px;
        //line-height: 16px;
        color: #868686;
    }
    .rhap_container {
        outline: none;
        box-shadow: none;
        button {
            outline: none;
        }
        .rhap_volume-bar-area {
            outline: none;
        }
        .rhap_progress-container {
            outline: none;
        }
        .rhap_progress-indicator {
            width: 15px;
            height: 15px;
            top: -5px;
            background: var(--color-primary);
        }
        .rhap_play-pause-button {
            svg path {
                fill: var(--color-primary);
            }
        }
    }

    .boostagram-corner{
        display: flex;
        margin: 0 0 8px 0;
        align-items: center;
    }
    .episode .podcast-value .v4v-header h4{
        margin: 0;
    }

    .boostagram-corner textarea{
        flex-grow:1;
        margin: 0 16px;
        font-size: 1.2em;
        border-radius: 5px;        
        height: 80px;
        resize: none;
        padding: 8px
    }

    .boostagram-corner label{
        font-size: 1.1em;
        font-weight: 550;
    }

    .boostagram-corner input{
        border:1px solid gray;
        padding: 8px;
        font-size: 1.1em;
        font-weight: 550;
        text-align: right ;
        width: 100px;
        margin-right: 4px;
        border-radius: 5px
    }

    .boostagram-corner input:focus{
        border:2px solid black;
    }
    
    .boostagram-corner button{
        margin: 0 0 0 16px;
        padding: 8px 12px;
        width: 100px;
        border: none;
        background-color: #AA0000;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-size: 1.1em;
        font-weight: 600; 
    }
}

@media only screen and (max-width: 520px) {
    .player-show-title p {
        max-width: 350px;
    }
}
