:root {
    --transition-secs: 0.2s;
    --bg-main: #ffffff;
    --color-primary: #e90000;
    --font-family: 'D-DIN', sans-serif;
    --font-alt: 'D-DIN Exp', sans-serif;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    font-family: var(--font-family);
    margin: 0;
    color: #2d2d2d;
    overflow-y: scroll; // Disable scrolling on body
}

h1 {
    font-family: var(--font-alt);
    font-weight: bold;
    font-size: 55px;
}

h2 {
    font-family: var(--font-alt);
    font-weight: bold;
    font-size: 44px;
}

h3 {
    font-family: var(--font-alt);
    font-weight: bold;
    font-size: 33px;
}

.page {
    background: #ffffff;
}

.landing-graphic {
    opacity: 0.75;
    top: 120px;
    left: -300px;
    position: absolute;
    z-index: 0;
}
