name: Validate JSONs

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  verify-json-validation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Validate JSON
        uses: dsanders11/json-schema-validate-action@79b2d95a446a0d786f7f244ae7764f8370ff3657 # v1.4.0
        with:
          schema: ./server/data/apps-schema.json
          files: ./server/data/apps.json

# https://github.com/marketplace/actions/json-schema-validate
# Alternative
# https://github.com/OrRosenblatt/validate-json-action
